{% extends 'home/base.html' %}

{% load static %}

{% block content %}

    <!-- شروع اسلایدر هیرو -->
    <div class="st-hero-slider1 owl-carousel st-owl-controler2" id="home">
      <div class="st-hero-slide st-style1 st-flex">
        <div class="container">
          <div class="st-hero-text st-style1">
            <h1 class="st-hero-title">کیفیت ما بهترین <br />کسب‌وکار است!</h1>
            <div class="st-hero-subtitle">
              فرآیند ساخت و اصلاح مدل کسب‌وکار<br />
              همچنین نوآوری مدل کسب‌وکار نامیده می‌شود.
            </div>
            <div class="st-btn-group st-style1">
              <a href="#" class="st-btn st-style1 st-color1">بیشتر بدانید</a>
              <a href="https://www.youtube.com/embed/jRcfE2xxSAw?autoplay=1" class="st-btn st-style2 st-video-open"><i class="flaticon-multimedia"></i> تماشای ویدیو</a>
            </div>
          </div>
        </div>
        <div class="st-hero-img"><img src="{% static '/img/light-img/hero-img.png' %}" alt="demo"></div>
      </div>
      <div class="st-hero-slide st-style1 st-flex">
        <div class="container">
          <div class="st-hero-text st-style1">
            <h1 class="st-hero-title">کیفیت ما بهترین <br />کسب‌وکار است!</h1>
            <div class="st-hero-subtitle">
             این دومیه<br/>
            وقت اشتباه نکنییه
            </div>
            <div class="st-btn-group st-style1">
              <a href="#" class="st-btn st-style1 st-color1">بیشتر بدانید</a>
              <a href="https://www.youtube.com/embed/jRcfE2xxSAw?autoplay=1" class="st-btn st-style2 st-video-open"><i class="flaticon-multimedia"></i> تماشای ویدیو</a>
            </div>
          </div>
        </div>
        <div class="st-hero-img"><img src="{% static '/img/light-img/hero-img1.png' %}" alt="demo"></div>
      </div>
    </div>
    <!-- پایان اسلایدر هیرو -->

    <!-- شروع جعبه آیکون -->
    <section class="st-section-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="st-iconbox st-style1 text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
              <div class="st-iconbox-icon">
                <i class="flaticon-focus"></i>
              </div>
              <h3 class="st-iconbox-title">رشد کسب‌وکار</h3>
              <div class="st-iconbox-text">
                نفوذ در بازار کلید رشد کسب‌وکار است. فرآیندهای توسعه کسب‌وکار برای ایجاد و اجرا.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="st-iconbox st-style1 text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
              <div class="st-iconbox-icon">
                <i class="flaticon-career"></i>
              </div>
              <h3 class="st-iconbox-title">تمرکز کسب‌وکار</h3>
              <div class="st-iconbox-text">
                کسب‌وکار بر برنامه‌ریزی استراتژیک برای عملیات بین‌المللی متمرکز است. تمرکز کسب‌وکار اطمینان از نیازهای تجاری.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="st-iconbox st-style1 text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
              <div class="st-iconbox-icon">
                <i class="flaticon-career-1"></i>
              </div>
              <h3 class="st-iconbox-title">هدف کسب‌وکار</h3>
              <div class="st-iconbox-text">
                نیازهای کسب‌وکار درک و ارتباط برقرار می‌شود تا راه‌حل‌های مسئله اهداف تجاری را برآورده کنند.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- پایان جعبه آیکون -->

    <!-- شروع بخش درباره ما -->
    <div class="st-about-wrap st-section-top" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="st-vertical-middle">
              <div class="st-vertical-middle-in">
                <div class="st-about-img wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.2s"><img src="{% static '/img/light-img/about-img1.png' %}" alt="demo"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="st-section-heading st-style1">
              <h3>درباره ما</h3>
              <h2>ما یک تیم عالی برای رویای کسب‌وکار شما هستیم</h2>
            </div>
            <div class="st-about-text">
              <p>کسب‌وکار فعالیت امرار معاش یا کسب درآمد است. یک کسب‌وکار با دیگری معامله تجاری انجام می‌دهد. یک نهاد تجاری، نهادی است که مطابق با قوانین شرکت‌ها تشکیل و اداره می‌شود.</p>
              <ul class="tr-list">
                <li>وظایف خود را انجام دهید.</li>
                <li>کسب‌وکار ممکن است به فعالیت‌های بسیار متفاوتی اشاره داشته باشد.</li>
                <li>نمایش تجاری ساخته شده توسط و برای افراد تجاری.</li>
                <li>اطلاعات تجاری درباره یک شرکت یا فرد.</li>
              </ul>
              <a href="#" class="st-btn st-style1 st-size1 st-color2">اطلاعات بیشتر!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- پایان بخش درباره ما -->

    <!-- شروع بخش خدمات -->
    <section class="st-service-section st-section-top" id="service">
      <div class="container">
        <div class="st-section-heading st-style2 text-center">
          <h2>خدمات کسب‌وکار</h2>
          <div class="st-seperator">
            <div class="st-seperator-left-bar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <img src="{% static '/img/dark-img/seperator-icon.png' %}" alt="demo" class="st-seperator-icon">
            <div class="st-seperator-right-bar wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>خدمات کسب‌وکار فعالیت‌هایی هستند که خدمات پشتیبانی مورد نیاز در سطح سازمان را ترکیب یا ادغام می‌کنند</p>
        </div>
      </div>
      <div class="st-owl-controler3-hover">
        <div class="container">
          <div class="st-service-carousel owl-carousel st-style2 st-owl-controler3">
              {% for servic in services %}
                  <div class="st-image-box st-style1 text-center wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <a href="#" class="st-image"><img src="{{ servic.image.url }}" alt="demo"></a>
                    <div class="st-image-box-info">
                      <h3 class="st-image-box-title"><a href="#">{{ servic.title }}</a></h3>
                      <div class="st-image-box-text">{{ servic.description }}</div>
                    </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="st-service-background-shap">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="858px" height="924px">
          <path fill-rule="evenodd"  opacity="0.4" fill="rgb(31, 31, 34)"
           d="M664.747,103.039 C653.462,87.314 639.932,72.487 623.957,58.931 C548.874,-4.793 440.575,-17.454 354.139,28.436 C295.555,59.540 256.035,109.725 237.462,166.269 C210.450,248.522 169.585,324.882 114.434,391.411 C-3.108,533.202 -36.669,703.629 44.624,816.957 C149.756,963.519 407.069,959.014 619.349,806.896 C831.627,654.780 918.489,412.653 813.356,266.091 C804.112,253.203 793.682,241.497 782.210,230.960 C739.413,191.657 698.632,150.252 664.747,103.039 Z"/>
        </svg>
      </div>
    </section>
    <!-- پایان بخش خدمات -->

    <!-- شروع بخش آمار -->
    <div class="st-funfact-wrap st-section-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="st-funfact text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
              <div class="st-funfact-icon"><i class="flaticon-rate"></i></div>
              <h2 class="st-funfact-number st-counter">{{ statistics.satisfied_customers }}</h2>
              <h3 class="st-funfact-title">مشتریان راضی</h3>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="st-funfact text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.25s">
              <div class="st-funfact-icon"><i class="flaticon-code"></i></div>
              <h2 class="st-funfact-number st-counter">{{ statistics.website_created }}</h2>
              <h3 class="st-funfact-title">وبسایت ساخته شده</h3>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="st-funfact text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
              <div class="st-funfact-icon"><i class="flaticon-laptop"></i></div>
              <h2 class="st-funfact-number st-counter">{{ statistics.specialist_expert }}</h2>
              <h3 class="st-funfact-title">کارشناس متخصص</h3>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="st-funfact text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.35s">
              <div class="st-funfact-icon"><i class="flaticon-win"></i></div>
              <h2 class="st-funfact-number st-counter">{{ statistics.years_of_experience }}</h2>
              <h3 class="st-funfact-title">سال تجربه</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- پایان بخش آمار -->

    <!-- شروع بخش پروژه -->
    <div class="st-project-wrap st-section-top" id="portfolio">
      <div class="container">
        <div class="st-section-heading st-style2 text-center">
          <h2>آخرین پروژه ما</h2>
          <div class="st-seperator">
            <div class="st-seperator-left-bar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <img src="{% static '/img/dark-img/seperator-icon.png' %}" alt="demo" class="st-seperator-icon">
            <div class="st-seperator-right-bar wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>این مکان خوبی برای گفتن بیشتر درباره خدمات شما و جلب <br>علاقه مخاطبان است. آلبوم آخرین کارهای ما در سال گذشته</p>
        </div>
      </div>
      <div class="st-project st-project-carousel owl-carousel st-style1 st-owl-controler1">
          {% for project in projects %}
        <a href="#" class="st-single-project st-bg wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s" data-src="{{ project.image.url }}">
          <div class="st-project-meta">
            <h3>{{ project.name }}</h3>
            <span>{{ project.description }}</span>
          </div>
        </a>
          {% endfor %}
        <!-- تکرار موارد مشابه -->
      </div>
    </div>
    <!-- پایان بخش پروژه -->

    <!-- شروع بخش مهارت -->
    <section class="st-skill-wrap st-section-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="st-vertical-middle">
              <div class="st-vertical-middle-in wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <div class="st-skill-img text-center">
                  <img src="{% static '/img/light-img/skill-img.png' %}" alt="demo">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="st-section-heading st-style2 st-type2">
              <h2>مهارت و تخصص</h2>
              <p>مهارت توانایی انجام یک کار با نتایج تعیین شده اغلب در مدت زمان معین است. مهارت معمولاً به محرک‌ها و موقعیت‌های محیطی خاصی برای ارزیابی بیشتر نیاز دارد.</p>
            </div>
            <div class="st-progressbar-wrap">
                {% for skill in skills %}
              <div class="st-single-progressbar">
                <div class="st-progressbar-meta">
                  <h3 class="st-progressbar-title">{{ skill.name }}</h3>
                  <div class="st-progressbar-percentage">{{ skill.percent }}%</div>
                </div>
                <div class="st-progressbar" data-progress-percentage="{{ skill.percent }}">
                  <div class="st-progressbar-in wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s"></div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- پایان بخش مهارت -->

    <!-- شروع بخش تیم
    <section class="st-team-wrap st-section" id="team">
      <div class="container">
        <div class="st-section-heading st-style2 text-center">
          <h2>تیم خلاق</h2>
          <div class="st-seperator">
            <div class="st-seperator-left-bar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <img src="{ static '/img/dark-img/seperator-icon.png' %}" alt="demo" class="st-seperator-icon">
            <div class="st-seperator-right-bar wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>اعضای تیم باید یاد بگیرند چگونه به یکدیگر کمک کنند. یک تیم زمانی بیشتر از <br>مجموعه‌ای از افراد می‌شود که احساس قوی.</p>
        </div>
      </div>
      <div class="st-owl-controler3-hover">
        <div class="container">
          <div class="st-member-carousel owl-carousel st-style2 st-owl-controler3">
            <div class="st-team-member text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
              <div class="st-member-img">
                <img src="{ static '/img/light-img/team1.png' %}" alt="demo">
              </div>
              <div class="st-member-info">
                <h3 class="st-member-name">رادنی آرتیچوک</h3>
                <div class="st-member-designation">طراح UI/UX</div>
                <ul class="st-member-social-btn st-flex st-mp0">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     پایان بخش تیم -->

    <!-- شروع بخش CTA -->
    <section class="st-cta-wrap st-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 offset-lg-1">
            <div class="st-cta text-center st-section">
              <h2 class="st-cta-title">قالب کامل خود را اکنون بسازید!</h2>
              <div class="st-cta-text">اگر می‌خواهید یک وبسایت جدید برای کسب‌وکار خود ایجاد کنید، همین امروز با ما تماس بگیرید. ما ایجاد کرده‌ایم تا همه نوع.</div>
              <div class="st-cta-btn">
                <a href="#" class="st-btn st-style1 st-size1 st-color1">اکنون دریافت کنید!</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="st-vertical-middle">
              <div class="st-vertical-middle-in st-flex">
                <div class="st-cta-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                  <img src="{% static '/img/light-img/cta-img.png' %}" alt="demo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- پایان بخش CTA -->

    <!-- شروع بخش قیمت‌گذاری -->
    <section class="st-pricing-wrap st-section" id="price">
      <div class="container">
        <div class="st-section-heading st-style2 text-center">
          <h2>طرح قیمت‌گذاری</h2>
          <div class="st-seperator">
            <div class="st-seperator-left-bar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <img src="{% static '/img/dark-img/seperator-icon.png' %}" alt="demo" class="st-seperator-icon">
            <div class="st-seperator-right-bar wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>استراتژی قیمت‌گذاری که در آن قیمت فروش با افزودن مقدار مشخصی <br>نشانه‌گذاری به هزینه واحد محصول تعیین می‌شود.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="st-price-card text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
              <div class="st-price-card-img"><img src="{% static '/img/light-img/price-img1.png' %}" alt="demo"></div>
              <h3 class="st-price-card-title">اقتصادی</h3>
              <div class="st-price">
                <h3>۱۹$</h3>
                <span>در ماه</span>
              </div>
              <ul class="st-price-card-feature st-mp0">
                <li>پشتیبانی رایگان ۲۴/۷</li>
                <li>دانلود پایگاه داده</li>
                <li>ایمیل نگهداری</li>
                <li>ترافیک نامحدود</li>
              </ul>
              <div class="st-price-card-btn">
                <a href="#" class="st-btn st-style1 st-size1 st-color1">شروع طرح</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="st-price-card text-center st-featured-price wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
              <div class="st-price-card-img"><img src="{% static '/img/light-img/price-img2.png' %}" alt="demo"></div>
              <h3 class="st-price-card-title">لوکس</h3>
              <div class="st-price">
                <h3>۲۹$</h3>
                <span>در ماه</span>
              </div>
              <ul class="st-price-card-feature st-mp0">
                <li>پشتیبانی رایگان ۲۴/۷</li>
                <li>دانلود پایگاه داده</li>
                <li>ایمیل نگهداری</li>
                <li>ترافیک نامحدود</li>
              </ul>
              <div class="st-price-card-btn">
                <a href="#" class="st-btn st-style1 st-size1 st-color2">شروع طرح</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="st-price-card text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
              <div class="st-price-card-img"><img src="{% static '/img/light-img/price-img3.png' %}" alt="demo"></div>
              <h3 class="st-price-card-title">نهایی</h3>
              <div class="st-price">
                <h3>۴۹$</h3>
                <span>در ماه</span>
              </div>
              <ul class="st-price-card-feature st-mp0">
                <li>پشتیبانی رایگان ۲۴/۷</li>
                <li>دانلود پایگاه داده</li>
                <li>ایمیل نگهداری</li>
                <li>ترافیک نامحدود</li>
              </ul>
              <div class="st-price-card-btn">
                <a href="#" class="st-btn st-style1 st-size1 st-color1">شروع طرح</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- پایان بخش قیمت‌گذاری -->

    <!-- شروع بخش وبلاگ -->
    <section class="st-blog-wrap st-section st-gray-bg" id="blog">
      <div class="container">
        <div class="st-section-heading st-style2 text-center">
          <h2>آخرین اخبار</h2>
          <div class="st-seperator">
            <div class="st-seperator-left-bar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <img src="{% static '/img/dark-img/seperator-icon.png' %}" alt="demo" class="st-seperator-icon">
            <div class="st-seperator-right-bar wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>وبسایت‌های خبری و وبلاگ‌ها منابع رایج برای فیدهای وب هستند، اما فیدها <br>همچنین برای ارائه ساختار یافته استفاده می‌شوند</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
              <div class="st-zoom">
                <a href="#" class="st-blog-thumb st-bg st-bg st-zoom-in" data-src="{% static '/img/light-img/blog1.png' %}"></a>
              </div>
              <div class="st-blog-info">
                <div class="st-blog-label">توسط <a href="#">لیمتی</a></div>
                <h2 class="st-blog-title"><a href="#">یک طرح کسب‌وکار سند نوشته شده رسمی حاوی اهداف تجاری است</a></h2>
                <div class="st-blog-text">یک طرح کسب‌وکار سند نوشته شده رسمی حاوی اهداف تجاری است. روش‌هایی که چگونه این اهداف می‌توانند [...]</div>
                <div class="st-blog-meta">
                  <div class="st-blog-meta-left"><span class="st-posted-by">۱۲ مارس ۲۰۱۹</span></div>
                  <div class="st-blog-meta-right"><a href="#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-right"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- تکرار موارد مشابه -->
        </div>
      </div>
    </section>
    <!-- پایان بخش وبلاگ -->

    <!-- شروع بخش مشتریان -->
    <div class="st-client-wrap st-section">
      <div class="container">
        <div class="st-client-carousel owl-carousel">
          <div class="st-client-logo st-flex wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s"><img src="{% static '/img/light-img/client-logo01.png' %}" alt="demo"></div>
          <!-- تکرار موارد مشابه -->
        </div>
      </div>
    </div>
    <!-- پایان بخش مشتریان -->

    <!-- شروع بخش نظرات -->
    <section class="st-testimonial-wrap st-section st-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="st-testimonial-right-img st-flex wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.2s">
              <img src="{% static '/img/light-img/testimonial-img.png' %}" alt="demo">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="st-vertical-middle">
              <div class="st-vertical-middle-in">
                <div class="st-section-heading st-style1">
                  <h3>نظرات</h3>
                  <h2>مشتریان چه می‌گویند؟</h2>
                </div>
                <div class="st-testimonial-slider owl-carousel st-owl-controler4">
                  <div class="st-single-testimonial">
                    <div class="st-testimonial-quote st-flex"><i class="fas fa-quote-right"></i></div>
                    <div class="st-testimonial-text">"من بسیار خوشحالم که وبسایتی از شما ایجاد کردم. هر آنچه برای وبسایت خود می‌خواستم، همه را از شما بسیار سریع دریافت کردم. وقتی در آینده وبسایتی ساختم، از شما خواهم ساخت."</div>
                    <div class="st-testimonial-meta">
                      <h3>دیوید تی. ایلر</h3>
                      <p>مهندس نرم‌افزار سیستم</p>
                    </div>
                  </div>
                  <!-- تکرار موارد مشابه -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- پایان بخش نظرات -->

    <!-- شروع بخش خبرنامه -->
    <section class="st-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="st-newsletter-wrap">
              <div class="st-left-newsletter">
                <div class="st-section-heading st-style1 st-type1">
                  <h3>فقط یک لحظه</h3>
                  <h2>در خبرنامه ما مشترک شوید</h2>
                </div>
                <div class="st-newsletter">
                  <div class="st-newsletter-text">در خبرنامه ما مشترک شوید. هر زمان که قالب جدیدی منتشر کنیم، اعلان ایمیل ارسال خواهیم کرد.</div>
                  <form class="mailchimp st-subscribe-form" action="https://storerepublic.us12.list-manage.com/subscribe/post?u=d227d8d335060b093084903d0&amp;id=9ba078ceb0">
                    <input type="email" name="subscribe" id="subscriber-email" placeholder="ایمیل خود را وارد کنید">
                    <button type="submit" id="subscribe-button" class="st-newsletter-btn"><i class="flaticon-plane"></i></button>
                    <!-- پیام‌های موفقیت یا خطای اشتراک -->
                    <h5 class="subscription-success"> .</h5>
                    <h5 class="subscription-error"> .</h5>
                    <label class="subscription-label" for="subscriber-email"></label>
                  </form>
                </div>
              </div>
              <div class="st-right-newsletter">
                <div class="st-newsletter-img wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
                  <img src="{% static '/img/dark-img/news-letter-img.png' %}" alt="demo">
                  <div class="st-bard-animation">
                    <div class="st-bard-animation1"><img src="{% static '/img/light-img/bard1.png' %}" alt="demo"></div>
                    <div class="st-bard-animation2"><img src="{% static '/img/light-img/bard2.png' %}" alt="demo"></div>
                    <div class="st-bard-animation3"><img src="{% static '/img/light-img/bard3.png' %}" alt="demo"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- پایان بخش خبرنامه -->

{% endblock content %}