{%  load static %}

<footer class="st-site-footer st-style1 st-sticky-footer">
    <div class="st-main-footer text-center">
      <div class="container">
        <div class="st-footer-logo">
          <img src="{% static 'img/dark-img/logo.png' %}" alt="demo">
        </div>
        <div class="st-footer-text">ما درک می‌کنیم که بهتر است به صورت ویروسی تغییر شکل دهیم تا اینکه به صورت شهودی بپذیریم.<br>
          ما قدرت طرحواره‌ها را برای تعریف مجدد، ماتریس‌بندی خواهیم کرد.</div>
        <div class="st-footer-social">
          <ul class="st-footer-social-btn st-flex st-mp0">
            <li><a href="home7#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="home7#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="home7#"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="home7#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="home7#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="st-copyright text-center">
        <div class="st-copyright-text">© limty, 2019. Developed by <a href="home7#">Laralink</a></div>
    </div>
</footer>