{% extends "home/base.html" %}

{% load static %}

{% block content %}
<!-- شروع عنوان صفحه -->
  <section class="st-page-header st-bg" data-src="{% static 'img/light-img/page-header-bg.jpg' %}' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="st-page-header-text">
            <h1>اخبار و وبلاگ ما</h1>
            <ul class="st-breadcam">
              <li><a href='index.html'>خانه</a></li>
              <li>وبلاگ با نوار کناری راست</li>
            </ul>
          </div>
        </div><!-- .col -->
      </div>
    </div>
  </section>
  <!-- پایان عنوان صفحه -->

  <!-- شروع بخش وبلاگ -->
  <div class="st-blog-wrap st-section" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog1.png' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است</a></h2>
              <div class="st-blog-text">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است. روش‌هایی که چگونه این اهداف می‌توانند [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۱۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog2.png' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">کسب‌وکار فعالیت امرار معاش است</a></h2>
              <div class="st-blog-text">کسب‌وکار ممکن است به فعالیت‌های بسیار متفاوتی اشاره داشته باشد، مانند فعالیت خرید یا فروش در تجارت. فعالیت کسب‌وکار [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۸ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog3.png' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">آمار کسب‌وکار علم تصمیم‌گیری خوب است</a></h2>
              <div class="st-blog-text">آمار کسب‌وکار علم تصمیم‌گیری خوب در مواجهه با ابهام است و در بسیاری از سیستم‌ها استفاده می‌شود [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog6.jpg' %}' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است</a></h2>
              <div class="st-blog-text">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است. روش‌هایی که چگونه این اهداف می‌توانند [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۱۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog5.jpg' %}' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">کسب‌وکار فعالیت امرار معاش است</a></h2>
              <div class="st-blog-text">کسب‌وکار ممکن است به فعالیت‌های بسیار متفاوتی اشاره داشته باشد، مانند فعالیت خرید یا فروش در تجارت. فعالیت کسب‌وکار [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۸ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog4.jpg' %}' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">آمار کسب‌وکار علم تصمیم‌گیری خوب است</a></h2>
              <div class="st-blog-text">آمار کسب‌وکار علم تصمیم‌گیری خوب در مواجهه با ابهام است و در بسیاری از سیستم‌ها استفاده می‌شود [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog1.png' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است</a></h2>
              <div class="st-blog-text">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است. روش‌هایی که چگونه این اهداف می‌توانند [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۱۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog2.png' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">کسب‌وکار فعالیت امرار معاش است</a></h2>
              <div class="st-blog-text">کسب‌وکار ممکن است به فعالیت‌های بسیار متفاوتی اشاره داشته باشد، مانند فعالیت خرید یا فروش در تجارت. فعالیت کسب‌وکار [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۸ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog-details1.jpg' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">آمار کسب‌وکار علم تصمیم‌گیری خوب است</a></h2>
              <div class="st-blog-text">آمار کسب‌وکار علم تصمیم‌گیری خوب در مواجهه با ابهام است و در بسیاری از سیستم‌ها استفاده می‌شود [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog6.jpg' %}' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است</a></h2>
              <div class="st-blog-text">طرح کسب‌وکار یک سند رسمی مکتوب حاوی اهداف تجاری است. روش‌هایی که چگونه این اهداف می‌توانند [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۱۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog5.jpg' %}' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">کسب‌وکار فعالیت امرار معاش است</a></h2>
              <div class="st-blog-text">کسب‌وکار ممکن است به فعالیت‌های بسیار متفاوتی اشاره داشته باشد، مانند فعالیت خرید یا فروش در تجارت. فعالیت کسب‌وکار [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۸ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="st-zoom">
              <a href="blog-no-sidebar#" class="st-blog-thumb st-bg st-zoom-in" data-src="{% static 'img/light-img/blog4.jpg' %}' %}"></a>
            </div>
            <div class="st-blog-info">
              <div class="st-blog-label">توسط <a href="blog-no-sidebar#">لیمتی</a></div>
              <h2 class="st-blog-title"><a href="blog-no-sidebar#">آمار کسب‌وکار علم تصمیم‌گیری خوب است</a></h2>
              <div class="st-blog-text">آمار کسب‌وکار علم تصمیم‌گیری خوب در مواجهه با ابهام است و در بسیاری از سیستم‌ها استفاده می‌شود [...]</div>
              <div class="st-blog-meta">
                <div class="st-blog-meta-left"><span class="st-posted-by">۲ مارس ۲۰۱۹</span></div>
                <div class="st-blog-meta-right"><a href="blog-no-sidebar#" class="st-blog-btn">ادامه مطلب <i class="fas fa-chevron-left"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="st-pagination">
        <ul>
          <li class="is-active"><a href="blog-no-sidebar#">۱</a></li>
          <li><a href="blog-no-sidebar#">۲</a></li>
          <li><a href="blog-no-sidebar#">۳</a></li>
          <li><a href="blog-no-sidebar#">صفحه بعد</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- پایان بخش وبلاگ -->
  <hr>

{% endblock content %}