{%  load static %}

<header class="st-header st-style1 st-sticky-menu st-full-width">
    <div class="st-main-header">
      <div class="container">
        <div class="st-main-header-in">
          <div class="st-site-branding">
            <a href="{% url 'home:home' %}" class="st-logo-link"><img src="{%  static 'img/dark-img/logo.png' %}" alt="demo"></a>
          </div>
          <!-- For Site Title -->
          <!-- <span class="st-site-title">
            <a href="index.html">Logo</a>
          </span> -->
          <div class="st-nav-wrap st-fade-down">
            <div class="st-nav-toggle st-style1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <nav class="st-nav st-desktop-nav">
              <ul class="st-nav-list onepage-nav">
                <li><a href="#home" class="smooth-scroll">خانه</a></li>
                <li><a href="#about" class="smooth-scroll">درباره ما</a></li>
                <li><a href="#service" class="smooth-scroll">خدمات</a></li>
                <li><a href="#portfolio" class="smooth-scroll">پروژه ها</a></li>
                <li><a href="#price" class="smooth-scroll">قیمت ها</a></li>
                <li class="st-has-children"><a href="#blog" class="smooth-scroll">وبلاگ</a>
                  <ul>
                    <li><a href='blog-right-sidebar'>Blog Right Sidebar</a></li>
                    <li><a href='blog-left-sidebar'>Blog Left Sidebar</a></li>
                    <li><a href='blog-no-sidebar'>Blog No Sidebar</a></li>
                    <li><a href='blog-details-right-sidebar'>Blog Details Right Sidebar</a></li>
                    <li><a href='blog-details-left-sidebar'>Blog Details Left Sidebar</a></li>
                    <li><a href='blog-details-no-sidebar'>Blog Details No Sidebar</a></li>
                  </ul>
                </li>
                <li><a href="#contact" class="smooth-scroll">ارتباط با ما</a></li>
              </ul>
            </nav><!-- .st-nav -->
          </div><!-- .st-nav-wrap -->
        </div>
      </div>
    </div>
  </header>